# brew install poppler
# brew install tesseract
unstructured
boto3
langchain
unstructured[pdf]
langchain-community
pytz
anthropic
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability